.footer-wrapper {
    border-top: 1px solid var(--border-color-1);
    padding: 0 24px;
}
.footer-top-row-wrapper {
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
}
.footer-top-box div {
    margin-bottom: 6px;
}
.footer-top-box li {
    padding: 8px 0;
    font-size: 14px;
}
.footer-middle-row-wrapper {
    padding: 24px 0 23px;
    border-top: 1px solid var(--border-color-1);
}
.footer-middle-row-wrapper nav {
    display: flex;
    gap: 35px;
}
.footer-middle-row-wrapper > nav > img {
    max-width: 185px;
}
.footer-middle-row-wrapper ul {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    line-height: 2.3;
}
.footer-middle-row-wrapper li {
    padding-top: 5px;
    font-size: 14px;
}
.footer-bottom-row-wrapper {
    border-top: 1px solid var(--border-color-1);
    padding: 24px 0;
}
.footer-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14px;
    line-height: 2.5;
}
.footer-bottom-privacy {
    min-width: 80px;
    display: flex;
    align-items: center;
}
.footer-bottom-privacy ul {
    display: flex;
    gap: 20px;
    position: relative;
}
.footer-bottom-privacy li:nth-child(2)::before {
    width: 1px;
    height: 12px;
    background-color: black;
    position: absolute;
    top:11px;
    left: 37px;
    content: '';
}
.footer-bottom-subscribe {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    text-overflow: ellipsis;
}
.footer-bottom-subscribe button {
    width: 76px;
}
.footer-bottom-language {
    min-width: 160px;
    height: 36px;
    padding: 0 7px 0 11px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-1);
    border-radius: var(--border-radius-1);
    gap: 5px;
}
.footer-bottom-language:hover {
    background-color: var(--background-color-3);
    cursor: pointer;
}
.footer-bottom-subscribe-button {
    overflow: hidden;
    white-space: nowrap;
}
.footer-bottom-language span {
    display: inline-block;
    color: #3c4043;
}
@media screen and (max-width: 840px) {
    .footer-middle-row-wrapper nav {
        flex-direction: column;
        gap: 10px;
    }
    .footer-middle-row-wrapper ul {
        flex-direction: column;
        gap: 0px;
    }
    .footer-bottom-subscribe {
        width: 100%;
    }
    .footer-bottom-language {
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .footer-top-row-wrapper{
        grid-template-columns: 1fr;
    }
    .footer-wrapper {
        padding: 0 16px;
    }
}