.main-section3-row-wrapper {
    padding: 40px 0px;
    background-color: #fff;
    line-height: 1.5;
    color: #202124;
}
.main-section3-wrapper {
    max-width: 1488px;
    margin: 0 auto;
    padding: 0 24px;
}
.main-section3-top {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}
.main-section3-middle {
    margin: 32px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:24px;
}
.main-section3-middle-box {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 8px 32px 25px;
}
.main-section3-middle-box-img {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section3-middle-box-img > img {
    min-width: 35px;
    max-height: 64px;
}
.main-section3-middle-box > div:nth-child(2) {
    display: flex;
    justify-content: center;
}
.main-section3-middle-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    gap: 10px;
    text-align: center;
}
.main-section3-middle-box-content p {
    display: block;
    max-width: 100%;
}
.main-section3-middle-box-content > p:first-child {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}
.main-section3-bottom {
    margin-top: 24px;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-section3-bottom button{
    width: 190px;
}
@media screen and (max-width: 850px) {
    .main-section3-middle {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-section3-bottom {
        margin-top: 16px;
    }
}
@media screen and (max-width: 600px) {
    .main-section3-wrapper {
        padding: 0 16px;
    }
    .main-section3-middle {
        grid-template-columns: minmax(0px, 1fr);
    }
}

.main-section4-row-wrapper {
    padding: 40px 0px;
    background-color: #fff;
    line-height: 1.5;
    color: #202124;
}
.main-section4-wrapper {
    max-width: 1488px;
    margin: 0 auto;
    padding: 0 24px;
}
.main-section4-header {
    text-align: center;
}
.main-section4-header h2 {
    font-size: 48px;
}
.main-section4-header p {
    margin-top: 16px;
    display: block;
    font-size: 24px;
}
.main-section4-box-wrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.main-section4-box {
    padding: 16px;
    display: flex;
    gap: 15px;
    border: 1px solid #dadce0;
    border-radius: 8px;
}
.main-section4-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.main-section4-box-content h3 {
    font-size: 24px;
    margin-bottom: 24px;
}
.main-section4-box-content p {
    font-size: 18px;
}
.main-section4-box-content-button {
    max-width: 105px;
    padding: 16px 0 0;
}
.main-section4-box-content-button button {
    width: 100%;
}
.main-section4-box-img {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-section4-box-img img {
    width: 100%;
    max-width: 150px;
    max-height: 100px;
} 
@media screen and (max-width: 840px) {
    .main-section4-box {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
}
@media screen and (max-width: 600px) {
    .main-section4-box-wrapper {
        grid-template-columns: minmax(100px,1fr);
    }
}