:root {
   --background-color-1: #e8eaed;
   --background-color-2: #fff;
   --background-color-3: #f1f3f4;
   --background-color-4: rgba(210,227,252,0.5);
   --text-color-1: #202124;
   --text-color-2: #1a73e8;
   --text-color-3: #5f6368;
   --text-color-4: #3c4043;
   --text-color-5: #fff;
   --text-color-6: #000000A6;
   --button-background-color-1: #1a73e8;
   --button-background-color-2: #fff;
   --button-background-color-3: #e8f0f1;
   --button-background-color-4: #1765cc;
   --button-text-color-1: #fff;
   --button-text-color-2: #1a73e8;
   --border-color-1: #dadce0;
   --border-color-2: #d2e3fc;
   --border-radius-1: 4px;
   --border-radius-2: 8px;
   --border-radius-3: 4px 2px;
   --border-radius-4: 8px 8px 0 0;
}
* {
	box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', 'Noto Sans', sans-serif;
}
ul {
   list-style: none;
}
body {
   background-color: var(--background-color-1);
}
footer {
   background-color: var(--background-color-2);
}
.button {
   font-size: 14px;
   height: 36px;
   padding: 0 20px;
   text-align: center;
   border: none;
   border-radius: 4px 2px;
   cursor: pointer;
   overflow: hidden;
   text-overflow: ellipsis;
}
.button-style-1 {
   color: var(--button-text-color-1);
   background-color: var(--button-background-color-1);
}
.button-style-1:hover {
   background-color: var(--button-background-color-4);
}
.button-style-2 {
   border: 1px solid var(--border-color-1);
   color: var(--button-text-color-2);
   background-color: var(--button-background-color-2);
}
.button-style-2:hover {
   border: 1px solid var(--border-color-2);
   background-color: var(--button-background-color-3);
}
.box {
   border: 1px solid var(--border-color-1);
   border-radius: var(--border-radius-2);
   background-color: var(--background-color-2);
}
.link:hover, .footer-wrapper li:hover{
   color: var(--text-color-2);
   cursor: pointer;
}

