doctype html
html(lang="en")
  head
    title Track Name
  body
    form(action="/trackName" method="get")
        label 輸入你的名稱:  
            input(type="text", name='name')
        button(type='submit') 送出